.Header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 60px;
    padding: 0 130px;
    width: calc(100% - 260px);
    z-index: 2;
    color: white;
    transition: all .2s ease-in-out;
}

.Header.fixed {
    position: fixed;
    top: 0;
    align-items: center;
    padding-top: 4px;
    background-color: #1b1b1b;
}

.Logo-Container {
    display: flex;
}

.Logo {
    width: 90px;
    height: fit-content;
    cursor: pointer;
}

.Header h1 {
    margin-left: 8px;
    width: 100px;
    text-transform: uppercase;
    font-size: 20px;
}

.Header .Nav-Burger {
    display: none;
}

.Header ul {
    display: flex;
    list-style: none;
}

.Header ul li {
    margin-right: 12px;
    width: 80px;
    height: 32px;
    text-align: center;
    cursor: pointer;
}

.Header ul li a {
    color: white;
    text-decoration: none;
}

.Active_Page {
    font-weight: 500;
    border-bottom: 1px solid white;
}

@media only screen and (max-width: 900px) {
    .Header {
        align-items: center;
        top: 110px;
        padding: 0;
        width: 100vw;
    }
    .Logo {
        margin-left: 18px;
        width: 70px;
    }
    .Header h1 {
        font-size: 15px;
    }
    .Header ul {
        display: none;
    }
    .Header .Nav-Burger {
        display: block;
        margin-right: 22px;
        font-size: 32px;
    }
}