.FirstSection-Background {
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.adsttc.com/media/images/5d34/e507/284d/d109/5600/0240/large_jpg/_FI.jpg?1563747560');
    background-size: cover;
    background-position: center;
}

.FirstSection {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.45);
}

.FirstSection-Title {
    margin: 0 0 0 180px;
    max-width: 620px;
    color: white;
    text-transform: uppercase;
    opacity: 0;
    transform: translate(550px);
}

.FirstSection-FirstTitle {
    margin-top: 80px;
    font-size: 38px;
    transition: all 1s ease-out;
}

.FirstSection-FirstTitle.loaded {
    opacity: 1;
    transform: translate(0);
}

.FirstSection-SecondTitle {
    font-size: 64px;
    transition: all 1.1s ease-in-out;
}

.FirstSection-SecondTitle.loaded {
    opacity: 1;
    transform: translate(0);
}

.FirstSection-Button {
    margin: 40px 0 0 180px;
    width: 166px;
    height: 41px;
    color: white;
    border: 1px solid white;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
    transition: all .5;
}

.FirstSection-Button:hover {
    color: black;
    background-color: white;
}

@media only screen and (max-width: 600px) {
    .FirstSection-Title-Container {
        margin-top: 100px;
    }
    .FirstSection-FirstTitle {
        margin: 12px 0;
        font-size: 20px;
        text-align: center;
    }
    .FirstSection-SecondTitle {
        margin: 0 auto;
        max-width: 80%;
        font-size: 30px;
        text-align: center;
    }
    .FirstSection-Button {
        margin: 40px auto 0;
    }
    .FirstSection-Title {
        opacity: 1;
        transform: translate(0);
    }
}